@import 'reset';
@import 'mixins';
@import 'theme';

html,
body {
	font-family: 'Spartan';
	font-weight: 700;
	height: 100%;
}

input {
	font-family: 'Spartan';
	font-weight: 700;
}

* {
	color: var(--text-100);
}

body {
	background-color: var(--bg-main);
	counter-reset: count;
	display: flex;
	align-items: center;
	justify-content: center;

	* {
		transition: background-color 300ms ease, color 300ms ease;
	}

	@include media {
		display: initial;
	}
}

.App {
	max-width: 900px;

	@include media {
		height: 100%;
		padding: 5vw;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	> * + * {
		margin-top: 1vw;

		@include media {
			margin-top: 5vh;
		}
	}

	.top {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.title {
			font-size: 2vw;
			color: var(--text-200);

			@include media {
				font-size: 5vh;
			}
		}

		.theme {
			display: flex;
			align-items: center;

			@include media {
				padding-top: 3vh;
			}

			> span {
				text-transform: uppercase;
				color: var(--text-200);
				font-size: 0.7vw;
				margin-bottom: -0.2vw;

				@include media {
					font-size: 2vh;
				}
			}

			.select {
				display: flex;
				align-items: center;
				background-color: var(--bg-secondary);
				margin-left: 1.5vw;
				border-radius: 1vw;
				padding: 0.3vw 0.4vw;

				@include media {
					margin-left: 2vh;
					border-radius: 2vh;
					padding: 0.7vh 0.5vh;
				}

				.indicator {
					--size: 1vw;
					position: relative;
					background-color: transparent;
					border-radius: 50%;
					margin-right: 0.4vw;
					width: var(--size);
					height: var(--size);
					color: var(--text-200);
					cursor: pointer;

					@include media {
						--size: 2vh;
						margin-right: 1vh;
					}

					&:last-child {
						margin: 0;
					}

					&::before {
						counter-increment: count;
						content: counter(count);
						position: absolute;
						top: calc(-1 * var(--size) - 0.1vw);
						left: 0;
						right: 0;
						text-align: center;
						font-size: 0.6vw;

						@include media {
							font-size: 1.5vh;
							top: calc(-1 * var(--size) - 0.6vh);
						}
					}

					&.active {
						visibility: initial;
						background-color: var(--keys-bg-200);
					}
				}
			}
		}
	}

	.screen {
		width: 100%;
		background-color: var(--bg-screen);
		border-radius: var(--radius);
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding: 2vw 1.5vw;

		@include media {
			flex-grow: 1;
			padding: 0 3vh;
		}

		input {
			font-size: 2vw;
			color: var(--text-200);
			margin-bottom: -0.5vw;
			border: 0;
			background-color: transparent;
			text-align: right;

			&:focus {
				outline: none;
			}

			@include media {
				font-size: 5.5vh;
				margin-bottom: -0.8vh;
			}
		}
	}

	.operation {
		background-color: var(--bg-secondary);
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 1.5vw;
		border-radius: var(--radius);

		@include media {
			flex-grow: 1;
			padding: 2vh 3.5vh;
			align-items: center;
		}

		.button {
			width: calc(100% / 4.6);
			height: 3.2vw;
			margin-bottom: 1.2vw;
			background-color: var(--keys-bg-100);
			text-align: center;
			padding: 0.5vw 0;
			border-radius: var(--radius);
			display: flex;
			align-items: center;
			justify-content: center;
			box-shadow: 0 0.15vw 0 var(--keys-shadow-100);
			cursor: pointer;
			font-size: 1.7vw;

			@include media {
				width: calc(100% / 4.8);
				height: 8vh;
				flex-grow: 0;
				flex-shrink: 0;
				font-size: 4.5vh;
				margin: 0;
				border-radius: calc(var(--radius) - 0.4vh);
				box-shadow: 0 1vh 0 var(--keys-shadow-100);
			}

			span {
				color: var(--keys-text-reg);
				margin-bottom: -0.5vw;

				@include media {
					margin-bottom: -0.8vh;
				}
			}

			&.del,
			&.reset {
				text-transform: uppercase;
				background-color: var(--keys-bg-300);
				box-shadow: 0 0.15vw 0 var(--keys-shadow-300);
				font-size: 1vw;

				@include media {
					font-size: 2.5vh;
					box-shadow: 0 1vh 0 var(--keys-shadow-300);
				}

				span {
					color: var(--keys-text-special);
					margin-bottom: -0.3vw;
				}
			}

			&:nth-child(17),
			&:nth-child(18) {
				width: calc(100% / 2.1);
				margin-bottom: 0;

				span {
					margin-bottom: -0.3vw;
				}
			}

			&.submit {
				background-color: var(--keys-bg-200);
				box-shadow: 0 0.15vw 0 var(--keys-shadow-200);
				font-size: 1vw;

				@include media {
					font-size: 2.5vh;
					box-shadow: 0 1vh 0 var(--keys-shadow-200);
				}

				span {
					color: var(--keys-text-submit);
				}
			}
		}
	}
}
